<section class="section">
  <div class="container">

    <div class="row">
  	<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">	

      <p class="title">Welcome to HITOKOTO</p>

  	  <h3 class="tagline">
	    あなたの今をHITOKOTOで表現しよう
  	  </h3>

　　　<p>
        <%= link_to 'New HITOKOTO', new_post_path, class:"btn btn-default btn-lg" %>
      </p>

    </div>
    </div>
    
  </div>
</section><!-- /headerwrap -->

